@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

// Font Family
$solitreo: 'Solitreo', cursive;
$poppins: 'Poppins', sans-serif;

// index
// $index: calc(1vw + 1vh); 

// color
$color: hsl(0, 0%, 100%);

// padding
$padding: 16px;